<header class="header">
  <div class="container">
    <a class="logo" href="/index.html"
      ><img
        src="/img/svg/logo.svg"
        alt="logo"
        width="40"
        height="36"
      />Product</a
    >
    <button class="burger-btn" type="button">=</button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Product</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Customers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Resources</a>
        </li>
      </ul>
    </nav>
    <ul class="auth-list">
      <li class="auth-item">
        <button class="auth-btn" type="button">Sign In</button>
      </li>
      <li class="auth-item">
        <button class="auth-btn" type="button">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
