/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 411px;
  margin: 0 auto;
  padding: 0 31px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 20px;
  }
}
